GOOGLE_CLIENT_ID=384260414688-j0qcj6gnkmhpbj9qtcs4jdpvhgmeailj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://pitchly-backend.railway.app/auth/callback
SUPABASE_URL=https://xzsxunkzvrsobtzzfchy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6c3h1bmt6dnJzb2J0enpmY2h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MTE4MzEsImV4cCI6MjA5MDM4NzgzMX0.kAi7opVm51RSceQR2A6UpAL-9ulakWMsa3bNb19zM6c
PORT=3000
BASE_URL=https://pitchly-backend.railway.app
SESSION_SECRET=pitchly_secret_2024
